*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem;
    background-color: silver;
}

.logo-container{
    padding-left: 2rem;
}

.logo-container > img {
    height: 3rem;
    width: 3rem;
}

.nav-items {
    padding-right: 2rem;
}

.nav-items > ul{
    display: flex;
    gap: 2.7rem;
    align-items: center;
    flex-wrap: wrap;
    font-size: 20px;
}

.nav-items > ul > li {
list-style: none;
}

.login-button{
    margin: 2px;
    padding: 5px;
    border-radius:10%;
    border-color: silver;
}

.res-card{
    width: 200px;
    border: 1px solid rebeccapurple;
}

.res-card:hover {
border:  1px solid black;
}

.res-image > img {
    width : 190px;
    height: 190px;
    object-fit: cover;
    margin: 4px;
}

.error-message{
    font-size: 30px;
    color: red;
    margin: 0 auto;
    padding: 2px;
    text-align: center;
}

.res-container{
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.res-details{
    padding: 5px;
}

.search-btn{
    margin: 10px;
    background-color: #f3d8e6;
}

.shimmer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}

.shimmer-card{
    height: 350px;
    width: 200px;
    background-color: #f0f0f0;
    margin: 10px;
}
